<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMS</title>
    <style>
        html{
            background-color: antiquewhite;
        }
        button{
            padding: 20px;margin: 25px; border:15px solid crimson; border-radius: 36px; background-color: aquamarine; cursor: pointer;text-align: center
        }
    </style>
</head>


<body>
<form name='f1' action="/remove_punc" method="get">
    <div style="display: flex; flex-flow: column; justify-content: center; align-items: center">
        <div style="display: flex;width: 100%;justify-content: space-around" >
        <label for="txtfr" style=" height:25%; border: 6px solid crimson;background-color: burlywood; border-radius: 0px 75px 75px 0px; padding-right:25px; width: 15%;margin: 5px " >YOUR TEXT HERE: </label>
        <textarea autofocus name="text" style="width: 75%; border-radius: 26px; border: 19px solid green; background-color: darkkhaki;margin: 5px" id="txtfr" cols="15" rows="10" placeholder="ANY PARA YOU WANT TO REMOVE PUNCTUATIONS FROM"></textarea>
        </div>
        <div style="width: 100%; display: grid; grid-template-columns: repeat(5,20%); justify-content: center">
        <button type="submit" > REMOVE PUNC</button>
        <button type="submit" onclick="f1.action='/cap1'"> CAP 1</button>
        <button type="submit" onclick="f1.action='/newlndel'"> DELETE NEW LINE</button>
        <button type="submit" onclick="f1.action='/spacedel'"> DELETE SPACE</button>
        <button type="submit" onclick="f1.action='/charcount'"> CHAR COUNT</button>
    </div></div>
</form>
</body>

</html>